{% extends "base.html" %}

{% block titulo %} Balanza de Comprobación {% endblock %}


{% block contenido %}
<div class="card">
    <h5 class="card-header">Balance de Comprobación</h5>
    <div class="card-body">
        <div class="table-responsive">
             <table class="table table-bordered border-dark">
                <tr>
                    <th class="table-secondary">Codigo</th>    
                    <th class="table-secondary">Cuenta</th>                        
                    <th class="table-primary">Debe</th>
                    <th class="table-danger">Haber</th>
                </tr>
                {% for cuenta in balance %}
                <tr>
                    <td class="table-secondary">{{ cuenta.codigo_cuenta }}</td>
                    <td class="table-secondary">{{ cuenta.nombre_cuenta }}</td>
                    {% if cuenta.saldo_debe > 0 %}
                        <td class="table-primary">$ {{ cuenta.total_debe }}</td>
                        <td class="table-danger"> </td>
                    {% else %}
                        <td class="table-primary"></td>
                        <td class="table-danger">$ {{ cuenta.total_haber }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
                <tr>
                    <td class="table-secondary"></td>
                    <td class="table-secondary"><p class="fw-bolder">Totales:</td>
                    <td class="table-primary"><p class="fw-bolder">$ {{ total_general_debe }}</p></td>
                    <td class="table-danger"><p class="fw-bolder">$ {{ total_general_haber }}</p>   
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<br>

<div class="card">
    <h5 class="card-header">Libro Mayor</h5>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Concepto</th>
                        <th>Monto</th>
                        <th>IVA</th>
                        <th>Cuenta de Cargo</th>
                        <th>Cuenta de Abono</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaccion in transacciones %}
                        <tr>
                            <td>{{ transaccion.fecha }}</td>
                            <td>{{ transaccion.concepto }}</td>
                            <td>$ {{ transaccion.monto }}</td>
                            <td>{{ transaccion.iva }}</td>
                            <td>{{ transaccion.cargo_cuenta }}</td>
                            <td>{{ transaccion.abono_cuenta }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div> 
</div>

{% endblock %}