{% extends "base.html" %}

{% block titulo %} Hoja de Trabajo {% endblock %}

{% block contenido %}

<!--Hoja de trabajo-->
<div class="card">
    <h5 class="card-header">Hoja de Trabajo</h5>
    <div class="card-body">
        <p class="fw-bolder text-center">Total General Debe: {{ total_general_debe }}</p>
        <p class="fw-bolder text-center">Total General Haber: {{ total_general_haber }}</p> 
        <div class="card-group">
            <!--Balance de Comprobacion Ajustado-->
            <div class="card">
            <br>
            <h5 class="card-title text-center">{{ titulo }}</h5> <!--Cambia el titulo del Balance General cuando se registra un ajuste-->
                <div class="table-responsive">                        
                    <table class="table table-bordered">
                        <tr>
                            <th>Cuenta</th>
                            <th>Debe</th>
                            <th>Haber</th>
                        </tr>
                        {% for cuenta in balance %}
                        <tr>
                            <td class="table-secondary">{{ cuenta.nombre_cuenta }}</td>
                            {% if cuenta.saldo_debe > 0 %}
                                <td class="table-primary">$ {{ cuenta.total_debe }}</td>
                                <td class="table-danger"> </td>
                            {% else %}
                                <td class="table-primary"></td>
                                <td class="table-danger">$ {{ cuenta.total_haber }}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>                       
            </div>

            <!--Estado de Resultado-->
            <div class="card">
                <br>
                <h5 class="card-title text-center">Estado de Resultado</h5>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>                            
                            <th>Debe</th>
                            <th>Haber</th>
                        </tr>
                        {% for cuenta in balance %}
                        <tr>
                            <td>{{ cuenta.total_debe }}</td>
                            <td>{{ cuenta.total_haber }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <br>
        <!--Columna 2-->
        <div class="card-group">
            
            <!--Estado de Capital-->
            <div class="card">
                <br>
                <h5 class="card-title text-center">Estado de Capital</h5>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>                            
                            <th>Debe</th>
                            <th>Haber</th>
                        </tr>
                        {% for cuenta in balance %}
                        <tr>
                            <td>{{ cuenta.total_debe }}</td>
                            <td>{{ cuenta.total_haber }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <!--Balance General-->
            <div class="card">
                <br>
                <h5 class="card-title text-center">Balance General</h5>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>                            
                            <th>Debe</th>
                            <th>Haber</th>
                        </tr>
                        {% for cuenta in balance %}
                        <tr>
                            <td>{{ cuenta.total_debe }}</td>
                            <td>{{ cuenta.total_haber }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>          
        </div>
    </div>
<br>

<!--Inicio del Formulario-->    
<form id="formulario-transaccion" method="post" action="{% url 'hojaTrabajo' %}" onsubmit="return validarMonto()">
  {% csrf_token %}
  <div class="card">
      <h5 class="card-header">Registro de Ajustes</h5>
      <div class="card-body">
          <div class="row">
              <div class="col-sm-6">
                  <div class="card">
                      <div class="card-body">
                          <label for="fecha">Fecha:</label>
                          <div class="form-group">
                              <input type="date" name="fecha"  class="form-control" required ><br>
                          </div>
                          <br>

                          <label for="concepto">Concepto:</label>
                          <div class="input-group">
                              <textarea name="concepto" class="form-control" required></textarea>
                          </div>
                          <br>

                          <label for="monto">Monto:</label>
                          <div class="input-group mb-3">
                              <span class="input-group-text">$</span>
                              <input type="number" step="0.01" name="monto" required>
                              <span class="input-group-text">.00</span>
                          </div>                           
                          <br>

                          <label for="iva">Tipo de IVA:</label>
                          <select name="iva" class="form-select" id="autoSizingSelect" required>
                              <option value="Ninguno" selected>Ninguno...</option>
                              <option value="CreditoFiscal">IVA Crédito Fiscal</option>
                              <option value="DebitoFiscal">IVA Débito Fiscal</option>
                          </select>
                          <br>                                               
                      </div>
                  </div>
              </div>                                               

              <div class="col-sm-6">
                  <div class="card border-danger mb-3">
                      <div class="card-header text-danger fw-bold">Cargo</div>
                      <div class="card-body">

                          <select name="cargo_cuenta" class="form-select cuenta-select"  data-clase-id="" required>
                              <option value="" selected disabled>Selecciona una cuenta</option>
                              {% for cuenta in cuentas %}
                                  <option value="{{ cuenta.id }}" data-clase-id="{{ cuenta.clase_id }}"> {{ cuenta.nombre }} ({{ cuenta.clase }}) </option>
                              {% endfor %}
                          </select><br>
                      </div>  
                  </div>
                  <div class="card border-primary mb-3">
                      <div class="card-header text-primary fw-bold">Abono</div>
                      <div class="card-body"> 
                          <select name="abono_cuenta" class="form-select" required>
                              <option value="" selected disabled>Selecciona una cuenta</option>
                              {% for cuenta in cuentas %}
                                  <option value="{{ cuenta.id }}">{{ cuenta.nombre }} ({{ cuenta.clase }})</option>
                              {% endfor %}
                          </select><br>
                      </div>                    
                  </div>

                  <input type="submit" class="btn btn-success" value="Registrar Ajuste">     
                  <input type="button" class="btn btn-warning" value="Limpiar Campos" id="limpiarCampos">        
              </div>                    
          </div>                              
      </div>    
  </div>
</form> <!--FIn del Formulario-->    

<script>
document.addEventListener("DOMContentLoaded", function() {
    // Captura el formulario por su id
    const formularioTransaccion = document.getElementById("formulario-transaccion");
    
    // Captura el título por su id
    const tituloBalance = document.getElementById("balance-title");

    // Agrega un evento de envío al formulario
    formularioTransaccion.addEventListener("submit", function(event) {
        // Verifica si el formulario es válido antes de cambiar el título
        if (formularioTransaccion.checkValidity()) {
            // Cambia el contenido del título
            tituloBalance.textContent = "Balance de Comprobación Ajustado";
        }
    });
});

</script>

















<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>



//Boton de limpiar campos
$(document).ready(function() {
  // Escucha el clic en el botón "Limpiar"
  $("#limpiarCampos").on("click", function() {
      // Limpia todos los campos del formulario
      $("form input[type='text'], form input[type='number'], form input[type='date'], form textarea, form select").val("");
  });
});

//validacion de negativos
function validarMonto() {
  var monto = parseFloat(document.getElementsByName("monto")[0].value);

  if (isNaN(monto) || monto <= 0) {
      alert("El monto debe ser un número mayor que cero.");
      return false;
  }

  return true;
}
</script>
 
{% endblock %}