{% extends "base.html" %}

{% block titulo %} Hoja de Trabajo {% endblock %}

{% block contenido %}

<div class="card">
    <h5 class="card-header">Hoja de Trabajo</h5>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table border">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th class="table-primary" colspan="2">Balance de Comprobación</th>
                    <th class="table-secondary"colspan="2"">Ajustes</th>
                    <th class="table-success" colspan="2"">Balance Ajustado</th>
                    <th class="table-danger" colspan="2">Estado de Resultado</th>
                    <th class="table-warning" colspan="2">Estado de capital</th>
                    <th class="table-info" colspan="2">Balance general</th>
                  </tr>
                  <tr>
                    <th scope="col">Cuenta</th>
                    <th scope="col">Debe</th>
                    <th scope="col">Haber</th>
                    <th scope="col">Debe</th>
                    <th scope="col">Haber</th>
                    <th scope="col">Debe</th>
                    <th scope="col">Haber</th>
                    <th scope="col">Debe</th>
                    <th scope="col">Haber</th>
                    <th scope="col">Debe</th>
                    <th scope="col">Haber</th>
                    <th scope="col">Debe</th>
                    <th scope="col">Haber</th>                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                </tbody>
                <tfoot class="border-dark">
                    <td class="border-dark"></td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tfoot>
              </table>
                               
        </div>
        
    </div>
</div>


{% endblock %}