{% extends "base.html" %}

{% block titulo %} Registro de Transacción {% endblock %}

{% block contenido %}

<div class="card">
    <h5 class="card-header">Registro de Transacción</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="card border-danger mb-3">
                    <div class="card-header text-danger fw-bold">Cargo</div>
                    <div class="card-body">
                        <p class="card-title fs-6">Clase de cuenta:</p>
                        <div class="col-auto">
                            <label class="visually-hidden" for="autoSizingSelect">Preference</label>
                            <select class="form-select" id="autoSizingSelect">
                                <option selected>Selecciona una opción...</option>
                                <option value="1">Activo</option>
                                <option value="2">Pasivo</option>
                                <option value="3">Capital</option>
<form method="post" action="{% url 'registroTransaccion' %}" onsubmit="return validarMonto()">
    {% csrf_token %}
    <div class="card">
        <h5 class="card-header">Registro de Transacción</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <label for="fecha">Fecha:</label>
                            <div class="form-group">
                                <input type="date" name="fecha"  class="form-control" required ><br>
                            </div>
                            <br>

                            <label for="concepto">Concepto:</label>
                            <div class="input-group">
                                <textarea name="concepto" class="form-control" required></textarea>
                            </div>
                            <br>

                            <label for="monto">Monto:</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text">$</span>
                                <input type="number" step="0.01" name="monto" required>
                                <span class="input-group-text">.00</span>
                            </div>                           
                            <br>

                            <label for="iva">Tipo de IVA:</label>
                            <select name="iva" class="form-select" id="autoSizingSelect" required>
                                <option value="Ninguno" selected>Ninguno...</option>
                                <option value="CreditoFiscal">IVA Crédito Fiscal</option>
                                <option value="DebitoFiscal">IVA Débito Fiscal</option>
                            </select>
                            <br>                                               
                        </div>
                    </div>
                </div>                                               

                <div class="col-sm-6">
                    <div class="card border-danger mb-3">
                        <div class="card-header text-danger fw-bold">Cargo</div>
                        <div class="card-body">
                            <!-- Campo de clase de cuenta de cargo -->
                            <label for="cargo_clase">Clase de Cuenta de Cargo:</label>
                            <select name="cargo_clase" class="form-select" required>
                                <option value="" selected disabled>Selecciona una clase de cuenta</option>
                                {% for clase in clases_de_cuentas %}
                                    <option value="{{ clase.id }}">{{ clase.nombre }}</option>
                                {% endfor %}
                            </select><br>
                        
                            <!-- Campo de cuenta de cargo -->
                            <label for="cargo_cuenta">Cuenta de Cargo:</label>
                            <select name="cargo_cuenta" class="form-select cuenta-select"  data-clase-id="" required>
                                <option value="" selected disabled>Selecciona una cuenta</option>
                                {% for cuenta in cuentas %}
                                    <option value="{{ cuenta.id }}" data-clase-id="{{ cuenta.clase_id }}">{{ cuenta.nombre }}</option>
                                {% endfor %}
                            </select><br>
                        </div>  
                    </div>

                    <div class="card border-primary mb-3">
                        <div class="card-header text-primary fw-bold">Abono</div>
                        <div class="card-body">
                            <!-- Campo de clase de cuenta de cargo -->
                            <label for="abono_clase">Clase de Cuenta de Abono:</label>
                            <select name="abono_clase" class="form-select" required>
                                <option value="" selected disabled>Selecciona una clase de cuenta</option>
                                {% for clase in clases_de_cuentas %}
                                    <option value="{{ clase.id }}">{{ clase.nombre }}</option>
                                {% endfor %}
                            </select><br>
                        
                            <!-- Campo de cuenta de abono -->
                            <label for="abono_cuenta">Cuenta de Abono:</label>
                            <select name="abono_cuenta" class="form-select" required>
                                <option value="" selected disabled>Selecciona una cuenta</option>
                                {% for cuenta in cuentas %}
                                    <option value="{{ cuenta.id }}">{{ cuenta.nombre }}</option>
                                {% endfor %}
                            </select><br>
                        </div>                    
                    </div>

                    <input type="submit" class="btn btn-success" value="Registrar Transacción">     
                    <input type="button" class="btn btn-warning" value="Limpiar Campos" id="limpiarCampos">        
                </div>                    
            </div>                              
        </div>    
    </div>
</form> <!--FIn del Formulario-->    


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>


//Validacion de tipo de cuenta NO FUNCIONA :(
$(document).ready(function() {
    // Cuando cambia la selección de Clase de Cuenta de Cargo
    $("#cargo_clase").on("change", function() {
        var claseSeleccionada = $(this).val();
        $(".cuenta-select").each(function() {
            if ($(this).find("option:selected").data("clase-id") === claseSeleccionada || $(this).find("option:selected").data("clase-id") === "") {
                $(this).prop("disabled", false);
            } else {
                $(this).prop("disabled", true);
            }
        });
    });
});

//Boton de limpiar campos
$(document).ready(function() {
    // Escucha el clic en el botón "Limpiar"
    $("#limpiarCampos").on("click", function() {
        // Limpia todos los campos del formulario
        $("form input[type='text'], form input[type='number'], form input[type='date'], form textarea, form select").val("");
    });
});

//validacion de negativos
function validarMonto() {
    var monto = parseFloat(document.getElementsByName("monto")[0].value);

    if (isNaN(monto) || monto <= 0) {
        alert("El monto debe ser un número mayor que cero.");
        return false;
    }

    return true;
}

</script>

   
{% endblock %}